<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayUserServlet</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.displayUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuServlet</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.menuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUserServlet</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.addUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addOrderServlet</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.addOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayOrderServlet</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.displayOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayUserServlet</servlet-name>
        <url-pattern>/displayUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuServlet</servlet-name>
        <url-pattern>/menuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUserServlet</servlet-name>
        <url-pattern>/addUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addOrderServlet</servlet-name>
        <url-pattern>/addOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayOrderServlet</servlet-name>
        <url-pattern>/displayOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
